body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/*header*/

header{
    background: linear-gradient(to_right, #0062E6, #33AeFF);
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

header h1{
    margin: 0;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

nav {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #ffd700;
}

/* footer */
footer {
    background-color: #343a40;
    color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}

footer p {
    margin: 0;
}

/* Flash Messagex*/
.flash.success{color: green;}
.flash.danger{color: red;}
.flash.info{color: blue;}

/* login form */